<h1>Welcome to the News Aggregator!</h1>

<p>Current users: <%= link_to "Login", login_path %> </p>


<p><%= link_to "All the news", controller: 'posts' %></p>

<p>New? <%= link_to "Signup!", new_user_path %></p>