<h1>Welcome to the News Aggregator!</h1>
<% if ! current_user %>
	<p>New? <%= link_to "Signup!", new_user_path %></p>
 	<p>Current users: <%= link_to "Login", login_path %> </p>
<% end %>

<p><%= link_to "All the news", controller: 'posts' %></p>

