<h1>All Posts here</h1>
<h2><%= link_to "Create new post", new_post_path %></h2>
<hr>
<% @posts.each do |post| %>
	<div>
		<h3><%= post.title %></h3>
		<p><%= link_to "Original news", "#{post.url}", target: "_blank" %></p>
		<p><%= link_to "Show", post_path(post) %></p>
	</div>
	<hr>
<% end %>