<section>
	<h1>Your Posts!</h1>
	<p>Title <%= @post.title %> </p>
	<p>URL: <%= link_to "#{@post.url}", "http://#{@post.url}", target: "_blank" %></p>

	<%= link_to "Go to all Posts", posts_path %>
</section>